.about {
  width: 100%;
  height: 80vh;
  margin: 1rem 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about h2 {
  margin-bottom: 1.3rem;
  color: #003300;
}
.about h1 {
  margin-bottom: 2rem;
}

.about p {
  line-height: 1.5rem;
  white-space: 2px;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}

p + p {
  margin-top: 1rem;
}

@media screen and (min-width: 40em) {
  .about {
    width: 80%;
    height: 100vh;
    max-width: 1200px;
    /* border: 1px solid; */
    margin: 0 auto;
  }
}
