.form {
  width: 100vw;
  height: 100%;
  /* background-color: #ddd; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form h2 {
  font-size: 2.3rem;
  margin-bottom: 0.9rem;
}
.form h3 {
  font-size: 1.4rem;
  margin-bottom: 0.9rem;
}
.form form {
  display: flex;
  flex-direction: column;
  width: 90%;
  font-family: "Poppins", sans-serif;
}

.form form input,
.form form textarea {
  margin-top: 1rem;
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #eefcf1;
  color: #718375;
  font-size: 1.2rem;
}

.form form textarea {
  resize: none;
  height: 4rem;
}

.form form button {
  margin-top: 1.5rem;
  background-color: transparent;
  padding: 1rem 2rem;
  width: 50%;
  border: 3px solid #eefcf1;
  border-radius: 15px;
  justify-self: center;
  align-self: center;
  font-size: 1.2rem;
  color: #607063;
  font-weight: bolder;
  cursor: pointer;
}

@media screen and (min-width: 40em) {
  .form {
    width: 50%;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid;
  }
  .form form input,
  .form form textarea {
    padding: 10px;
  }
  .form form textarea {
    height: 8rem;
  }
  .form form button:hover{
    background-color: #eefcf1;
    color: rgb(122, 122, 122);
  }
}
