.resume {
  display: flex;
  align-items: center;
  justify-content: center;
}
.resume button {
  background: transparent;
  padding: 1rem 2rem;
  margin-top: 2rem;
  border: 1px solid #23125e;
  border-radius: 50px;
  font-weight: bolder;
  cursor: pointer;
}

.resume button a{
    text-decoration: none;
    font-size: 1.1rem;
    color: #23125e;
}
